



* {
	
}

body,
html {
	background-color: #e5e5e5;
	height: 100%;
    margin: 0px;
    
}

h1 {
	font-family: sans-serif; 
	font-size: 100px;
	color: #f2f2f2;
}


h2 {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 35px;
}

p{
    font-size: 20px;
    line-height: 50px;
}

p, 
.call {
    font-family: 'Open Sans';
    margin: auto;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}

#arrow {
    margin-bottom: 110px;
}

.space {
    padding-top: 60px;
    padding-bottom: 60px;

}

.center {
	text-align: center;
	margin-top: 15%;

}

a {
	font-family: 'Open Sans';
	font-size: 20px;
	color: #f2f2f2;
    text-decoration: none;
    border-color: none;
}


.HR {
    
    width: 85%;
    border-top: 1px solid black;
    margin: auto;
    margin-top: 110px;
}

footer {

    margin-top: 0px;
    background-color: black;
    left:0px;
    bottom:0px;
    height:250px;
    width:100%;
    opacity: .7;    
}




/* VIDEO CONTAINER   ====================*/



#Container {
	width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  
}


#Container video {
	position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);

}

#Container div {
    position: relative;
    z-index: 1;
}


/* VIDEO CONTAINER END  ====================*/






/* NAV MENU =========================== */


.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;

}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width 1.3s ease, background-color 1.3s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: white;
}

.NAV {
    background: black;
    opacity: .7;
    text-align: right;
    width: 100%;
    height: 50px;
    z-index:1040;    
}


#NAV {
    margin: 0;
    z-index:1040;
    padding: 0;
}

#NAVMENU {
    word-spacing: 35px;
    margin-right: 40px;
}

#NAVMENU span {
    display: none;
}

.push {
    margin-top: 5px;
    margin-right: 0px;
}


.topics {
    word-spacing: 117px;
    left: 0;
        
}


.N {
    margin-top: 10px;
    opacity: 1;
    font-size: 16px;
}

/* NAV MENU END =========================== */






/* BOUNCE ARROW =========================== */

.blink-image {
    margin-top: 12%;
    width: 50px;

}

@-moz-keyframes blink {
    0% {
        opacity:0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}


/* BOUNCE ARROW  END=========================== */







/* LOGO =========================== */



.LOGO {
    height: 300px;
    width: 300px;
    margin: auto;
    opacity: .2;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;    
}


.LOGONAV {
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 40px;
}



/* LOGO END =========================== */















/* ABOUT PAGE ===============================*/

.PROFPIC {
    border-radius: 50%;
    width: 30%;
    float: left;
    position: relative;
    margin: 10px;
    
}

.ABOUT {
    position: relative;
    float: right;
    font-size: 20px;
    text-align: left;
    width: 60%;
    margin: 10px;
    border-left: 1px solid black;
    padding-left: 35px;
    margin-right: 0px; 
}

.rigAbout {
    max-width: 64%;
    margin: auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#e5e5e5;
    border-color: none;
    margin-bottom: 1000px;
    margin-top: 200px;
 }


.RESUME {
    color: black;
    border: 1px solid black;
    padding: 10px 84px;
    margin: 35px 0px;


}

.RESUME:hover {
    background-color: black;
    color: #e5e5e5;
    opacity: .7;
}

.social {
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-top: 30px;
}

.socialWrap {

}

a img.social:hover {
    opacity: .5;
}

.A {
    margin-bottom: 20px;
}


/* ABOUT PAGE END ================================== */









 






/* IMAGE GRID / CONTAINERS ============================*/


.rig {
    max-width: 67%;
    margin: auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#e5e5e5;
    border-color: none;
    position: relative;
    
}

.rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:auto;
    padding:0;
    
}


        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display: block;
    position: relative;
    overflow:hidden;
    margin: 10px;
    
}
        
/* If have the image layer */
.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
    
}

.rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #151515 no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
.rig li:hover .rig-overlay {
    opacity:0.5;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0px;
    box-sizing:border-box;
    position: absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:75px;
    font-weight:bold;
    font-family: 'Open Sans';
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
.rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

.Small {
    font-size: 20px;
}



.rig.CENTER li {
    width: 50%;
    margin: auto;
    }

p, 
.call {
    max-width: 66%;
    margin-bottom: 100px;
}
    

.rig.FOUR li {

    margin-top: 10px;
    width: 25%;

}

.rig li.TOP {
        
    width: 100%;
    margin: auto;
    display: block;
        
}

/* IMAGE GRID / CONTAINERS END ============================*/








@media (max-width: 1090px) {

    .rig-text {
        font-size: 55px;
    }

    .Small {
    font-size: 20px;
    }

    .LOGO {
    height: 200px;
    width: 200px;
    

    }

    .rigAbout {
        max-width: 68%;
    }

    .rig {
    max-width: 70%;
    }
}


/* MOBILE ==================================*/



@media (max-width: 768px) {


/* TOP OF SITE */
    h1 {
        font-size: 70px;
    }

    a {
        font-size: 16px;
    }

    .center {
        margin-top: 28%;
    }

    .topics {
        word-spacing: 72px;
    }

    .blink-image {
        margin-top: 25%;
        width: 35px;
    }

/* TOP OF SITE END */



    .rig li {
        width:33.33%;
    }

    .rig-text {
        font-size: 55px;
    }

    p, .ABOUT {
        font-size: 16px;
    }

    p, .rigAbout {
        max-width: 87%;
    }

    .rigAbout {
        margin-top: 150px;
    }
    
    .rig {
        max-width: 90%;
    }

    .LOGO {
        height: 150px;
        width: 150px;
        margin: auto;
        opacity: .2;
        display: block;
        margin-top: 50px;
    }

    .RESUME {
        padding: 10px 89px;
    }

    #still {
        margin-top: 60px;
    }

    .Small {
    font-size: 16px;
    }
}




/* MOBILE MENU   ====================*/


@media screen and (max-width: 740px) {
        
       #NAVMENU {
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        text-align: center;
        background: #000;
        display: none;
       }

       #NAVMENU .nav-mobile-wrap {
        height: calc(100vh - 50px);
        padding: 50px 0;
       }

       #NAVMENU.push {
        margin-top: 0;
       }

       #NAVMENU a {
        display: inline-block;
        margin: 20px 0;
       }

       #NAVMENU span {
        width: 100%;
        display: block;
       }

       .push {
        display: none;
       }
        /* Icon 2 */

        #nav-icon3 {
          width: 35px;
          height: 35px;
          position: relative;
          margin: 15px auto;
          margin-right: 40px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
        }

       #nav-icon3 span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          background: #e5e5e5;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
}



       /* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
    }
}

/* MOBILE MENU END   ====================*/




@media (max-width: 700px) {
    .rig li {
        width:33.33%;
    }
}






@media (max-width: 550px) {

    .rig.CENTER li {
        width: 50%;
        margin: auto;
    }

    p, .call {
        max-width: 66%;
        line-height: 30px;
        text-align: left;
    }
    

    .rig.FOUR li {

        margin-top: 5px;
        width: 50%;

    }

    .rig li.TOP {
        
        width: 100%;
        margin: auto;
        display: block;
        
    }


    /* TOP OF SITE */
    h1 {
        font-size: 50px;
    }

    a {
        font-size: 16px;
    }

    .center {
        margin-top: 43%;
    }

    .topics {
        word-spacing: 28px;
    }

    .blink-image {
        margin-top: 25%;
        width: 35px;
    }

/* TOP OF SITE END */



    .rig li {
        width:33.33%;
    }

    .rig-text {
        font-size: 45px;
    }

    p, .ABOUT {
        font-size: 16px;
        padding-left: 25px;
        padding-right: 10px;
        margin-left: 0px;
        width: 87%;
    }

    p, .rigAbout {
        max-width: 100%;
    }

    .rigAbout {
        margin-top: 100px;

    }
    
    .rig {
        max-width: 100%;
    }

    .LOGO {
        height: 100px;
        width: 100px;
        margin: auto;
        opacity: .2;
        display: block;
        margin-top: 40px;
    }

    .PROFPIC {
        width: 45%;
        float: none;
        position: relative;
        margin: 10px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    .RESUME {
        padding: 10px 89px;
    }

    #still {
        margin-top: 50px;
    }

    .Small {
    font-size: 16px;
    }


}



/* MOBILE END   ====================*/
