



* {
	
}

body, html {
	background-color: #e5e5e5;
	height: 100%;
    margin: 0px;
    
}

h1 {
	font-family: sans-serif; 
	font-size: 100px;
	color: #f2f2f2;
}


h2 {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 35px;
}

p, .call {
    
    font-family: 'Open Sans';
    width: 66%;
    margin: auto;
    text-align: center;
    font-size: 21px;
    line-height: 50px;
}

.call {
    margin-bottom: 200px;
}

.center {
	text-align: center;
	margin-top: 15%;
	

}

a {
	font-family: 'Open Sans';
	font-size: 20px;
	color: #f2f2f2;
    text-decoration: none;
    border-color: none;
}


.HR {
    
    width: 85%;
    border-top: 1px solid black;
    margin: auto;
    margin-top: 110px;
}

footer {

    margin-top: 0px;
    background-color: #252525;
    left:0px;
    bottom:0px;
    height:250px;
    width:100%;
    
}

#arrow {
    
}


#still {    
    margin-top: 100px;
}

.topics {
	word-spacing: 117px;
    left: 0;
        
}



#Container {
	width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  
}




#Container video {
	position: absolute;
    left: 50%;
    top: 50%;
    
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);

}

#Container div {
    position: relative;
    z-index: 1;
}



.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;

}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 1px;
	width: 0px;
	background: transparent;
	transition: width 1.3s ease, background-color 1.3s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: white;
}

.NAV {
    background: black;
    opacity: .7;
    text-align: right;
    width: 100%;
    height: 50px;
    z-index:1040;    
}


#NAV {
    margin: 0px;
    z-index:1040;
}

.push {
    margin-top: 5px;
    margin-right: 0px;
}

.wrap {
    word-spacing: 35px;
    margin-right: 40px;
}



.N {
    margin-top: 10px;
    opacity: 1;
    font-size: 16px;
}



.space {
	padding-top: 60px;
    padding-bottom: 60px;

}


.LOGO {
    height: 300px;
    width: 300px;
    margin: auto;
    opacity: .2;
    display: block;
    margin-top: 90px;
    

}


.LOGONAV {
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}














/* ABOUT PAGE */

.PROFPIC {
    border-radius: 50%;
    width: 30%;
    float: left;
    position: relative;
    margin: 10px;
    
}

.ABOUT {
    position: relative;
    float: right;
    font-size: 20px;
    text-align: left;
    width: 60%;
    margin: 10px;
    border-left: 1px solid black;
    padding-left: 35px;
    margin-right: 0px; 
}

.rigAbout {
    max-width: 64%;
    margin: auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#e5e5e5;
    border-color: none;
   
    margin-top: 250px;
    margin-bottom: 1200px;
}




/* ABOUT PAGE END */





/* CONTACT PAGE */





/* CONTACT PAGE END */








/* BOUNCE ARROW */

.blink-image {
	margin-top: 12%;
	width: 50px;

}

@-moz-keyframes blink {
    0% {
        opacity:0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:0.5;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:0.5;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}


/* BOUNCE ARROW END */















ul li a {
    background-color: transparent;
    outline:none !important;
}


/* IMAGE GRID */


#rig {
    max-width: 67%;
    margin: auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#e5e5e5;
    border-color: none;
    position: relative;
    
}

#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:auto;
    padding:0;
    
}





        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display: block;
    position: relative;
    overflow:hidden;
    margin: 10px;
    
}
        
/* If have the image layer */
.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
    
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #151515 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.5;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0px;
    box-sizing:border-box;
    position: absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:75px;
    font-weight:bold;
    font-family: 'Open Sans';
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

.Small {
    font-size: 20px;
}




















@media (max-width: 9000px) {

    #rig.CENTER li {
        width: 50%;
        margin: auto;
    }


    

    #rig.FOUR li {

        margin-top: 10px;
        width: 25%;

    }

    #rig li.TOP {
        
        width: 100%;
        margin: auto;
        display: block;
        
    }


}





@media (max-width: 1090px) {

    .rig-text {
        font-size: 55px;
    }

    .Small {
    font-size: 20px;
    }

    .LOGO {
    height: 200px;
    width: 200px;
    

    }

    #rig {
    max-width: 70%;
    }
}






@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }

    .rig-text {
        font-size: 55px;
    }
}



@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}









