

/* VIDEO CONTAINER   ====================*/
#Container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

#Container video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%); }

#Container div {
  position: relative;
  z-index: 1; }

/* VIDEO CONTAINER END  ====================*/






/* IMAGE CONTAINERS  ====================*/
.rig {
  max-width: 68%;
  margin: auto;
  padding: 0;
  font-size: 0;
  list-style: none;
  background-color: $color-prim;
  border-color: none;
  position: relative; 

  @media #{$brk-wide} {
    max-width: 80%;
  }

  @media #{$brk-narrow} {
    max-width: 90%; 
  }

  @media #{$brk-small} {
    max-width: 100%; 
  }
}

.rig li {
  display: inline-block;
  *display: inline;
  /*for IE6 - IE7*/
  width: 25%;
  vertical-align: middle;
  box-sizing: border-box;
  margin: auto;
  padding: 0; 

  @media #{$brk-narrow} {
    width: 33.33%; 
  }

}


.rig.CENTER li {
  width: 50%;
  margin: auto; }

.rig.FOUR li {
  margin-top: 10px;
  width: 25%;

  @media #{$brk-small} {
    margin-top: 5px;
    width: 50%; 
  }

}

.rig li.TOP {
  width: 100%;
  margin: auto;
  display: block;

   @media #{$brk-small} {
    width: 100%;
    margin: auto;
    display: block;
  }
}

/* IMAGE CONTAINERS END  ====================*/






/* CALL TO ACTION CONTAINER  ====================*/
 p,
 .call {
  max-width: 66%;
  margin-bottom: 100px;

  @media #{$brk-wide} {
    max-width: 78%;
    margin-bottom: 100px;
  }

  @media #{$brk-narrow} {
    max-width: 87%;
  }

  @media #{$brk-small} {
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    text-align: left; }
}

/* CALL TO ACTION CONTAINER END  ====================*/






/* ABOUT PAGE CONTAINERS  ====================*/

.PROFPIC {
  border-radius: 50%;
  width: 30%;
  float: left;
  position: relative;
  margin: 10px; 

  @media #{$brk-narrow}{
    width: 45%;
    float: none;
    position: relative;
    display: block;
    margin: auto; 
    margin-bottom: 45px;
  }

  @media #{$brk-small}{
    margin-bottom: 20px;
  }

}

.ABOUT {
  position: relative;
  float: right;
  font-size: 20px;
  text-align: left;
  width: 60%;
  margin: 10px;
  border-left: 1px solid black;
  padding-left: 35px;
  margin-right: 0px;

  @media #{$brk-narrow} {
    padding-left: 40px;
    padding-right: 10px;
    margin-left: 0px;
    font-size: 16px;
    width: 90%; 
  }

  @media #{$brk-small} {
    padding-left: 25px;
    width: 89%;  
  }

}

.rigAbout {
  max-width: 67%;
  margin: auto;
  padding: 0;
  list-style: none;
  background-color: $color-prim;
  border-color: none;
  margin-bottom: 1000px;
  margin-top: 200px;
  

  @media #{$brk-wide} {
    max-width: 78%;
  }
  @media #{$brk-narrow}{
    margin-top: 150px;
    max-width: 87%; }

  @media #{$brk-small} {
    margin-top: 100px;
    margin-bottom: 600px;
    max-width: 100%; }
}



/* ABOUT PAGE CONTAINERS END  ====================*/

