/* ABOUT PAGE */

/* ABOUT PAGE ===============================*/


.RESUME {
  color: black;
  border: 1px solid black;
  padding: 10px 84px;
  margin: 35px 0px; }

.RESUME:hover {
  background-color: black;
  color: #e5e5e5;
  opacity: .7; }

.social {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 30px; }

a img.social:hover {
  opacity: .5; }

.A {
  margin-bottom: 20px; }

/* ABOUT PAGE END ================================== */