/* ABOUT PAGE ===============================*/


.RESUME, 
.SEND {
  color: black;
  border: 1px solid black;
  padding: 10px 84px;
  margin: 35px 0px;
  border-radius: 0px;

  @media #{$brk-narrow} {
    padding: 10px 89px;
  }

  @media #{$brk-small} {
    
    text-align: center;
    float: none;
  }

  }


.SEND {
    background-color: $color-prim;
    box-sizing: none;
    font-size: 20px;
    font-family: $stack-muli;
    font-weight: 300;

    @media #{$brk-small} {
    @include span-columns(12);
  }
}



form {
  
  margin-top: 400px;
  margin-bottom: 400px;
  font-size: 20px;
  font-family: $stack-muli;
}



textarea {
  background-color: $color-prim;
  height: 187px;
}



#{$all-text-inputs} {
  background-color: $color-prim;
  border: 1px solid black;
  border-radius: 0px;
}




.RESUME:hover {
  background-color: $color-sec;
  color: $color-text-light;
   }

.SEND:hover {
  background-color: $color-sec;
  color: $color-text-light;
  font-weight: 600;

   }


.social,
.socialG {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-top: 30px;
}

.socialG {
  margin-right: 4px;
}

.SocialWrap {
  
  float: none;
  text-align: center;

}

a img.social:hover {
  opacity: .5; }

a img.socialG:hover {
  opacity: .5; }

.A {
  margin-bottom: 20px; }



/* ABOUT PAGE END ================================== */