/* NAV MENU */


/* NAV MENU =========================== */
.sliding-middle-out {
  display: inline-block;
  position: relative;
  padding-bottom: 3px; }

.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width 1.3s ease, background-color 1.3s ease; }

.sliding-middle-out:hover:after {
  width: 100%;
  background: white; }

.NAV {
  background: $color-text-dark;
  opacity: .7;
  text-align: right;
  width: 100%;
  height: 50px;
  z-index: 1040; }

#NAV {
  margin: 0;
  z-index: 1040;
  padding: 0; }

#NAVMENU {
  margin-right: 40px; }

#NAVMENU span {
  display: none; }

.push {
  margin-top: 5px;
   }

.topics {
  padding-right: 117px;


  @media #{$brk-narrow} {
    padding-right: 72px; }

  @media #{$brk-small} {
    padding-right: 28px; }
}


.N {
  margin-right: 0px;
  margin-top: 10px;
  opacity: 1;
  font-size: 16px;
}

.P {
  padding-right: 35px;

  @media #{$brk-narrow} {
    padding-right: 0px;
  }
}

/* NAV MENU END =========================== */





