/* BASE */


body,
html {
  background-color: $color-prim;
  height: 100%;
  margin: 0px; }

h1 {
  font-family: sans-serif;
  font-size: 100px;
  color: $color-text-light;

  @media #{$brk-narrow} {
    font-size: 70px; }

  @media #{$brk-small} {
    font-size: 50px; }  
}

h2 {
  text-align: center;
  font-family: $stack-open-sans;
  font-size: 25px;
  line-height: 60px;
  padding-top: 80px;
  padding-bottom: 80px;


  @media #{$brk-narrow}{
    font-size: 18px;
    line-height: 50px; 
    }

  @media #{$brk-small}{
    font-size: 18px; 
    line-height: 40px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 60px;
    padding-bottom: 60px;
    } 
   }


p {
  font-family: $stack-open-sans;
  margin: auto;
  text-align: center;
  font-size: 20px;
  line-height: 50px; 

  @media #{$brk-fix} {
    font-size: 18px;  
  }
}

#arrow {
  margin-bottom: 110px; }

.space {
  padding-top: 60px;
  padding-bottom: 60px; }

.center {
  text-align: center;
  margin-top: 6%; 

  @media #{$brk-narrow}{
    margin-top: 13%; }

  @media #{$brk-small}{
    margin-top: 35%; }  

}

hr {
  width: 50%;
}

.MBG {
  z-index: 40;
}

.BBG {
  z-index: 80
}




.copy {
  color: $color-text-light;
  padding-top: 10px;
  font-size: 14px;
  margin: auto;
  text-align: center;
}

a {
  font-family: $stack-open-sans;
  font-size: 20px;
  color: $color-text-white;
  text-decoration: none;
  border-color: none; 
  
  @media #{$brk-narrow}{
    font-size: 16px;}
}



input, 
textarea {
  background-color: $color-prim;
  border: 1px solid black;
  padding: 10px;
  padding-left: 5px;
  margin: 20px 0px;
  font: 20px $stack-open-sans;
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
}



input:focus,
textarea:focus {
    outline: none !important;
    border:1px solid black;
    box-shadow: 0 0 10px none;
    background-color: $color-sec;
    color: $color-text-light;
}

form {
  display: block;
  
}


footer {
  margin-top: 0px;
  background-color: $color-sec;
  left: 0px;
  bottom: 0px;
  height: 200px;
  width: 100%;

  
  }


