/* BASE */


body,
html {
  background-color: $color-prim;
  height: 100%;
  margin: 0px; }

h1 {
  font-family: sans-serif;
  font-size: 100px;
  color: $color-text-light;

  @media #{$brk-narrow} {
    font-size: 70px; }

  @media #{$brk-small} {
    font-size: 50px; }  
}

h2 {
  text-align: center;
  font-family: $stack-open-sans;
  font-size: 35px; }


p {
  font-family: $stack-open-sans;
  margin: auto;
  text-align: center;
  font-size: 20px;
  line-height: 50px; }

#arrow {
  margin-bottom: 110px; }

.space {
  padding-top: 60px;
  padding-bottom: 60px; }

.center {
  text-align: center;
  margin-top: 15%; 

  @media #{$brk-narrow}{
    margin-top: 28%; }

  @media #{$brk-small}{
    margin-top: 43%; }  

}

.copy {
  color: $color-text-light;
  padding-top: 10px;
  margin: auto;
}

a {
  font-family: $stack-open-sans;
  font-size: 20px;
  color: $color-text-light;
  text-decoration: none;
  border-color: none; 
  
  @media #{$brk-narrow}{
    font-size: 16px;}
}


footer {
  margin-top: 0px;
  background-color: $color-sec;
  left: 0px;
  bottom: 0px;
  height: 250px;
  width: 100%;
  
  }


