/* VARIABLES */


/* Descriptive color variables */


$black			:	#000;
$mine-Shaft		:	#3f3f3f; 
$mercury		:	#e5e5e5;
$white			:	#FFFFFF;

/* Functional color variabels */

$color-prim		:	$mercury;
$color-sec		:	$mine-Shaft;

$color-text-light	:	$mercury;
$color-text-dark	:	$black;
$color-text-white	:	$white;

/* FONT variabels */

$stack-sans-serif	:	sans-serif;
$stack-open-sans	:	'Open Sans', $stack-sans-serif;




/* MEDIA QUERY BREAKPOINTS */

$brk-small  :	'(max-width: 550px)';
$brk-narrow	:	'(max-width: 768px)';
$brk-wide	:	'(max-width: 1090px)';